<div class="table-responsive">
  <table class="table table-bordered " style="color:#ffffff">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Name</th>
      <th>Released Year</th>
      <th>Author</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {{#each model.books as |item index|}}
    <tr>
      <td>{{number index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.releasedyear}}</td>
      <td>{{item.author}}</td>
      <td>{{item.time}}</td>
      <td><button class="btn btn-sm btn-danger" {{action 'returns' item}}>Return</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
