<table class="table table-bordered " style="color:#ffffff">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Name</th>
      <th>Released Year</th>
      <th>Author</th>
      <th>Booked Time</th>
      <th>Returned Time</th>
    </tr>
  </thead>
  <tbody>
  {{#each model.returns as |item index|}}
    <tr>
      <td>{{number index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.releasedyear}}</td>
      <td>{{item.author}}</td>
      <td>{{item.ontime}}</td>
      <td>{{item.offtime}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
