<div class="table-responsive">
  <table class="table table-bordered " style="color:#ffffff">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Name</th>
      <th>Department</th>
      <th>Year</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |item index|}}
    <tr>
      <td>{{number index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.department}}</td>
      <td>{{item.year}}</td>
      <td>{{item.email}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
